.login-form-forgot
  float: right
.login-text
  text-align: center
  font-size: 20px
.logo
  height: 28px
  margin: 16px
  background: rgba(255, 255, 255, 0.3)

.site-layout .site-layout-background
  background: #fff
.site-input-split
  background-color: #fff

.site-input-right
  border-left-width: 0
  &:hover,
  &:focus
    border-left-width: 1px
